.landing-page-see-more {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 width: 100%;
 padding-top: 20px;
}

.landing-page-see-more div {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.landing-page-see-more h1 {
 font-size: 35px;
}

.landing-page-see-more h2 {
 padding-top: 20px;
}

.see-all-button {
 margin-top: 20px;
 text-decoration: none;
 color: white;
 font-weight: bold;
 font-size: 20px;
 background-color: gray;
 padding: 10px 20px;
 border-radius: 30px;
}

@media screen and (max-width: 869px) {
 .landing-page-see-more {
  flex-direction: column;
 }

 .landing-page-see-more img {
  width: 35%;
 }
}
