.landing-page-featured-parent {
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 position: relative;
}

.landing-page-buttons-wrapper {
 position: relative;
 width: 100%;
}

.landing-page-featured-parent h1 {
 text-align: center;
 font-size: 50px;
 letter-spacing: 5px;
}

.landing-page-featured {
 display: flex;
 flex: 1;
 overflow: hidden;
}

.carousel-left-button {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 left: -55px;
}

.carousel-right-button {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right: -55px;
}

.carousel-button-hover-effects:hover {
 cursor: pointer;
}

.carousel-logo {
 width: 50px;
 height: 50px;
}

.carousel-logo:hover {
 color: rgb(141, 141, 141);
 width: 45px;
 height: 45px;
 transition: all 0.2s;
}

.carousel-circle-components {
 display: flex;
 position: absolute;
 bottom: -10px;
 transform: translateX(-50%);
 left: 50%;
}

.carousel-dots {
 margin: 0 3px;
 width: 10px;
 height: 10px;
 border-radius: 10px;
 border: 1px solid white;
}

.featured-tile-wrapper {
 width: 33.33%;
 flex-shrink: 0;
 padding: 15px;
}

.featured-tile {
 flex-shrink: 0;
 width: 100%;
 height: 100%;
 position: relative;
 border-radius: 20px;
 overflow: hidden;
}

.featured-tile img {
 width: 100%;
 height: 100%;
}

.featured-tile-label {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 110px;
 background: linear-gradient(
  180deg,
  rgba(85, 85, 85, 0),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708)
 );

 padding: 10px;
}

.featured-tile-label h3 {
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

@media screen and (max-width: 869px) {
 .featured-tile-wrapper {
  width: 100%;
 }
 .landing-page-buttons-wrapper {
  width: 234px;
 }
}
