.loading-animation-wrapper {
 display: flex;
 justify-content: center;
 height: 100%;
}

.loading-animation-container {
 width: fit-content;
 position: relative;
 overflow: hidden;
}

.loading-animation-image {
 padding-top: 20px;
}

.loading-animation-droplet {
 color: rgb(82, 127, 225);
 position: absolute;
 animation: firstdroplet 0.5s infinite;
}

@keyframes firstdroplet {
 0% {
  top: -10px;
 }

 100% {
  top: 100%;
 }
}
