.react-modal-parent {
 position: fixed;
 background-color: rgba(177, 177, 177, 0.403);
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 z-index: 4;
 animation: appear 0.5s;
 transition: background-color 3s;
}

.react-modal-screen {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translateX(-50%) translateY(-50%);
 display: flex;
 width: 90vw;
 max-width: 1000px;
 background: gray;
 z-index: 5;
 animation: popup 0.5s;
 height: fit-content;
 max-height: 80vh;

 overflow: scroll;
}

.react-modal-remove {
 display: none;
}

.react-modal-blocker {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
}

.react-modal-screen img {
 height: 500px;
 width: 600px;
 object-fit: cover;
}

.list-page-details {
 padding: 10px;
 line-height: 30px;
 height: fit-content;
}

.label-value {
 color: black;
}

.details-reviews-section {
 display: flex;
}

.details-reviews-section div {
 background: white;
 color: black;
 font-weight: bold;
 margin-right: 5px;
 padding: 0 10px;
 border-radius: 10px;
 border-color: none;
}

.add-featured-button {
 padding: 5px 10px;
 border-radius: 10px;
 border: none;
 font-weight: bold;
 margin-top: 20px;
 background: rgb(176, 171, 171);
}

.add-featured-button-addable:hover {
 cursor: pointer;
 background-color: black;
 color: white;
 transform: scale(1.1);
 transition: transform 1s;
}

@keyframes popup {
 0% {
  top: 0%;
 }

 100% {
  top: 50%;
 }
}

@keyframes appear {
 0% {
  background-color: rgba(177, 177, 177, 0.084);
 }

 100% {
  background-color: rgba(177, 177, 177, 0.403);
 }
}

@media screen and (max-width: 965px) {
 .react-modal-screen {
  flex-direction: column;
  align-items: center;
  padding: 50px;
 }

 .react-modal-screen img {
  width: 300px;
  height: 450px;
 }
}
