.navbar {
 z-index: 5;
 display: flex;
 position: sticky;
 top: 0;
 justify-content: center;
 width: 100%;
 background: linear-gradient(
  180deg,
  rgb(128, 128, 128),
  rgba(128, 128, 128, 0.755),
  rgba(128, 128, 128, 0.487),
  rgba(128, 128, 128, 0.008)
 );
}

.navbar-icon {
 width: 60px;
}
