.filter-results-main-wrapper {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.filter-results-section {
 padding-top: 10px;
 padding-bottom: 20px;
}

.filter-dropdowns-section {
 display: flex;
 flex-direction: row;
}

.filter-dropdown {
 background: rgb(0, 0, 0);
 color: white;
 margin-right: 6px;
}

.filter-results-section button {
 background: black;
 color: white;
 border: 1px solid gray;
 border-radius: 5px;
 padding: 3px 10px;
}

.filter-results-section button:hover {
 cursor: pointer;
 background-color: rgb(180, 178, 178);
}

.filter-search-section {
 display: flex;
 align-items: center;
}

.list-page-screen {
 display: grid;
 width: 100%;
 grid-template-columns: repeat(3, 1fr);
 gap: 5px;
}

.list-page-tile {
 position: relative;
 border-radius: 10px;
 overflow: hidden;
 transition: transform 0.2s;
 height: 100%;
 min-height: 300px;
}

.list-page-tile:hover {
 cursor: pointer;
 transform: scale(1.1);
 z-index: 2;
}

.list-page-tile img {
 width: 100%;
 height: 100%;
}

.list-page-tile-label {
 position: absolute;
 bottom: 0;
 left: 0;
 height: 15%;
 padding: 10px 10px;
 background: linear-gradient(
  180deg,
  rgba(85, 85, 85, 0),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708),
  rgba(61, 61, 61, 0.708)
 );
 width: 100%;
}

.list-page-tile h2 {
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}

.list-page-see-more {
 background: rgba(128, 128, 128, 0.42);
 color: white;
 width: 100%;
 position: absolute;

 top: 50%;
 transform: translateY(-50%);

 padding: 20px 0;
 border: none;
 border-radius: 20px;
}

.list-page-see-more:hover {
 cursor: pointer;
}

.tile-zoom-in:hover {
 transform: scale(1.1);
 cursor: auto;
}

.list-page-see-more img {
 width: 50%;
}

@media screen and (max-width: 777px) {
 .list-page-screen {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
 }

 .filter-dropdowns-section {
  flex-direction: column;
 }

 .filter-button-dropdown {
  width: fit-content;
 }
}
